<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include ('partials/nav.ejs'); -%>
    <main>
      <div>Welcome <%= user.username%></div>
      <a href="/upload"> Upload </a>
    </main>
  </body>
</html>
